table,caption{
	
	margin: auto;
	padding: 5%;
	background:  #239cc5 ;
    margin-top: 30px;
    box-shadow: crimson 5px 5px 12px;/*para sombreado*/

}
table{
	border-radius: 2% 2% 2% 2%;
}
caption{
	color: #a44109;
	border: 1px solid;
	margin-bottom: 3px;
	border-radius: 60% 0% 60% 0%;
}
label{
	color: black ;
	font-family: sans-serif;
}
#calcular{
	background:  #a44109 ;
	width:120px;
	height: 40px;
    margin-left: 35%;
    margin-top: 5%;
    border-radius: 20% 20% 20% 20%;

-webkit-transition-duration: 0.4s ;/*duracion de la transicion*/
    /*-webkit-transition-timing-function: 0.9%;*/
   /* -webkit-transition-delay:0.1s;*/
}
body{
	background:  #231f5b ;
}
#primer{
	color: white;
	padding: 2%;
	margin: auto;
	text-align: center;
}

#calcular:hover{/*cuando pase el ¡¡la flecha encima se ejecuta esto*/
    -webkit-transform: scale(1.2);/*agranda la imagen*/
    
}
